.container {
    background-color: var(--spring-leaf-100);
    padding: 96px 16px;
    margin: 100px 0px;
}

.title {
    font-size: var(--font-size-h2);
    font-weight: 600;
    color: var(--spring-leaf-800);
    text-align: center;
}

.description {
    font-size: var(--font-size-regular);
    color: var(--dark-gray);
    text-align: center;
}

.servicesList {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
    justify-content: center;
}

.serviceCard {
    background-color: var(--spring-leaf-50);
    flex: 1 1 300px;
    max-width: 100%;
    padding: 16px;
    padding-bottom: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

.serviceCard .imageContainer {
    width: 100%;
    height: 231px;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
}

.serviceCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serviceCard .title {
    font-size: var(--font-size-h4);
    font-weight: normal;
}

.serviceCard .description {
    font-size: var(--font-size-regular);
    text-align: start;
    color: var(--gray-soft);
}

.serviceCard a {
    width: max-content;
    padding: 4px 8px;
    border-radius: 8px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
    color: var(--spring-leaf-500);
    border: 2px solid var(--spring-leaf-500);
}

@media (max-width: 585px) {
    .container {
        margin: 0;
    }
}